<img src="http://icons.iconarchive.com/icons/pixelkit/tasty-bites/512/hamburger-icon.png" alt="Picture of a burger">
<h1>HANBAAGAA O TABERU</h1>

<form action="burger/post" method="POST">
	<label for="hamburger">hanbaga nyuuryoku</label>
	<input type="text" name="hamburger">
	<input type="submit">
</form>

<h1>Burgers to eat</h1>
<ul>
	{{#each burgers}}
		{{#unless this.devoured}}
		<li>
			<img src="http://icons.iconarchive.com/icons/pixelkit/tasty-bites/512/hamburger-icon.png" alt="Picture of a burger" height="64px" width="64px">
			{{this.burger_name}}
			<form action="burger/update/{{this.id}}?_method=PUT" method="POST">
				<input type="hidden" name="devoured" value="true">
				<button type="submit">TABERU</button>
			</form>
		</li>
		{{/unless}}
	{{/each}}
</ul>
<h1>Burgers eaten</h1>
<ul>
	{{#each burgers}}
		{{#if this.devoured}}
		<li>
			<img src="http://icons.iconarchive.com/icons/pixelkit/tasty-bites/512/hamburger-icon.png" alt="Picture of a burger" height="64px" width="64px">
			{{this.burger_name}}
			
		</li>
		{{/if}}
	{{/each}}
</ul>